body {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/13/Goteborg_Lindholmen_Chalmers_7.jpg/1280px-Goteborg_Lindholmen_Chalmers_7.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-box {
    width: 400px;
}
input[type="checkbox"]:checked {
    background-color: black;
    border-color: black;
}