/* Default theme: Light so no need for data-theme="light" */
:root {
    --bg-color: #ffffff;
    --text-color: #333333;
}

/* Dark theme */
[data-theme="dark"] {
    --bg-color: #333333;
    --text-color: #ffffff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

select {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--text-color);
}

option {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.form-control:focus {
    outline: none !important;      
    box-shadow: none !important;   
    border-color: lightgray;       
}

/*     LOGS     */
.card-header {
    cursor: pointer;
    background-color: #E4E5FF;
    padding: 10px;
}

.offline-card .card-header {
    border-left: 4px solid #dc3545;
}

.temp-offline-card .card-header {
    border-left: 4px solid #DD9A19;
}

.bg-temp{
    background-color: #DD9A19;
}

.notification-card .card-header {
    border-left: 4px solid #0d6efd;
}

.detail-item {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #eee;
}

.detail-label {
    color: #6c757d;
}


/*     TABLE     */
.table.log-table td {
    padding-top: 15px;
    padding-bottom: 15px;
}

.table.log-table .pop{
    font-weight: bold;
    color: #0A3B62;
}

.table.log-table th {
    color: #464F60;
    background-color: #E4E5FF;
}

.table-gray{
    color: #687182;
}




/* STATUS */
.status-online{
    color: white;
    background-color: #008767;
    font-weight: bold;
}




/*     Toggle switch     */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;  /* Updated width */
    height: 20px;  /* Updated height */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 10px;  /* Adjusted for new height */
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;  /* Adjusted size */
  width: 16px;   /* Adjusted size */
  left: 2px;     /* Adjusted positioning */
  bottom: 2px;   /* Adjusted positioning */
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #0A3B62;
}

input:checked + .slider:before {
  transform: translateX(30px);  /* Adjusted translation */
}



/*      SIDEBAR        */
.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: #0D1B2A;
    transition: all 0.3s;
    overflow-x: hidden;
}

.sidebar.collapsed {
    width: 80px;
}

.sidebar-header {
    padding: 20px;
    text-align: center;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    color: white;
    white-space: nowrap;
}

.nav-link:hover {
    background-color: #152c44;
    color: white;
}

.nav-link:focus{
    background-color: #152c44;
    color: white;
}

.nav-link.active {
    background-color: #152c44;
    color: white;
}

.nav-toggle-icon:hover{
    background-color: transparent;
}

.nav-icon {
    margin-right: 15px;
    font-size: 1.2rem;
    min-width: 25px;
}

.nav-text {
    transition: opacity 0.3s;
}

.sidebar.collapsed .nav-text {
    opacity: 0;
    pointer-events: none;
}

.toggle-btn {
    position: absolute;
    transition: transform 0.3s;
}

.sidebar.collapsed .toggle-btn {
    transform: rotate(180deg);
    left: 25px;
}

.main-content {
    margin-left: 250px;
    transition: margin-left 0.3s;
}

.sidebar.collapsed + .main-content {
    margin-left: 80px;
}

.sign-out{
    position: absolute;
    bottom: 20px;
}
