<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Dashboard</title>
</head>

<body>
    <!-- Sidebar -->
    <nav class="sidebar" id="sidebar">
        <button class="btn toggle-btn nav-link nav-toggle-icon" onclick="toggleSidebar()">
            <i class="bi bi-chevron-left text-white"></i>
        </button>
        <div class="nav flex-column pt-5">
            <a href="dashboard" class="nav-link active">
                <i class="bi bi-grid fs-3 pe-2"></i>
                <span class="nav-text">Dashboard</span>
            </a>
            <a href="devices" class="nav-link">
                <i class="bi bi-pc-display fs-3 pe-2"></i>
                <span class="nav-text">Registered Devices</span>
            </a>
            <a href="logs" class="nav-link">
                <i class="bi bi-pencil fs-3 pe-2"></i>
                <span class="nav-text">Logs</span>
            </a>
            <a href="discovery" class="nav-link">
                <i class="bi bi-broadcast fs-3 pe-2"></i>
                <span class="nav-text">Checkin Discovery</span>
            </a>
            <a href="settings" class="nav-link">
                <i class="bi bi-gear fs-3 pe-2"></i>
                <span class="nav-text">Settings</span>
            </a>
            <a href="login.html" class="nav-link sign-out">
                <i class="bi bi-box-arrow-left fs-3 pe-2"></i>
                <span class="nav-text">Logout</span>
            </a>
        </div>
    </nav>
    <!-- Main Content -->
    <div class="main-content p-4">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center ">
                <div>
                    <h1 class="pt-3">Dashboard</h1>
                </div>
                <div>
                    <select class="p-2 rounded" id="themeSelector">
                        <option value="light">Light</option>
                        <option value="dark">Dark</option>
                    </select>
                </div>
            </div>
            <hr class="pb-3">
            <!-- CARDS ROW -->
            <div class="row pb-3">
                <div class="col">
                    <div class="card p-4 bg-awesome">
                        <h4 class="fw-bold">System status: <span class="badge" th:classappend="${status.color == 'red' ? 'bg-danger' : 
                            (status.color == 'green' ? 'bg-success' : 
                              (status.color == 'yellow' ? 'bg-warning' : ''))}" th:text="${status.text}">
                            </span></h4>
                        <p class="fw-600"> <span th:class="'fw-bold badge ' + (${totalOnline == totalDevices} ? 'bg-success' : 
                            (${totalOnline >= totalDevices * 0.75} ? 'bg-warning' : 'bg-danger'))"
                                th:text="${totalOffline}"></span>
                            devices offline accross the
                            network. Check the locations below. </p>
                    </div>
                </div>
            </div>
            <div class="row pb-3">
                <!--LIST AND SUBLIST COL -->
                <div class="col">
                    <div class="card">
                        <div class="bg-navy card-header d-flex justify-content-between align-items-center c-default">
                            <span class="fw-bold text-white">Device Status by Building</span>
                            <span th:class="'badge ' + (${totalOnline == totalDevices} ? 'bg-success' : 
                                (${totalOnline >= totalDevices * 0.75} ? 'bg-warning' : 'bg-danger'))"
                                th:text="${totalOnline + '/' + totalDevices}"></span>
                        </div>

                        <div class="card-body">
                            <ul class="status-list pt-3">
                                <!-- BUILDING -->
                                <li class="pb-3" th:each="building : ${buildings}">
                                    <div data-bs-toggle="collapse" th:data-bs-target="'#building-' + ${building.name}">
                                        <span class="c-pointer">
                                            <i class="bi bi-caret-right-fill pe-2"></i>
                                            <span th:text="${building.name}"></span>
                                            <span
                                                th:class="'badge ' + (${building.onlineDevices == building.totalDevices} ? 'bg-success' : 
                                                                  (${building.onlineDevices >= building.totalDevices * 0.75} ? 'bg-warning' : 'bg-danger'))"
                                                th:text="${building.onlineDevices + '/' + building.totalDevices}"></span>
                                        </span>
                                    </div>
                                    <!-- ROOMS IN BUILDING -->
                                    <ul class="collapse list-unstyled" th:id="'building-' + ${building.name}">
                                        <li th:each="room : ${building.rooms}">
                                            <a class="status-item"
                                                th:href="@{/devices(search=${building.name + ' ' + room.name})}">
                                                <span class="status-cicle"
                                                    th:class="'status-cicle ' + (${room.onlineDevices == room.totalDevices} ? 'bg-success' : 
                                                                              (${room.onlineDevices >= room.totalDevices * 0.75} ? 'bg-warning' : 'bg-danger'))"></span>
                                                <span th:text="${room.name}"></span>
                                                <span
                                                    th:class="'badge ' + (${room.onlineDevices == room.totalDevices} ? 'bg-success' : 
                                                                  (${room.onlineDevices >= room.totalDevices * 0.75} ? 'bg-warning' : 'bg-danger'))"
                                                    th:text="${room.onlineDevices + '/' + room.totalDevices}"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Recent activity list -->
                <div class="col">
                    <div class="card">
                        <div
                            class="card-header bg-navy fw-bold text-white c-default d-flex justify-content-between align-items-center">
                            <div>Recent Activity</div>
                            <!-- Link to checkin discovery or tracked devices page -->
                            <a href="#" class="text-white">View all</a>
                        </div>
                        <div class="card-body">
                            <table class="table activity-table table-hover">
                                <thead class="text-center">
                                    <tr>
                                        <th>Time</th>
                                        <th>Room</th>
                                        <th>Device</th>
                                        <th>Event</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <tr>
                                        <td>12:00</td>
                                        <td>ED-XXX2</td>
                                        <td>Computer 1</td>
                                        <td>Device went offline</td>
                                    </tr>
                                    <tr>
                                        <td>12:00</td>
                                        <td>ED-XXX1</td>
                                        <td>Computer 2</td>
                                        <td>Device went offline</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pb-3">
                <!-- Chart 1-->
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <canvas id="notificationChart" style="width:100%;max-width:600px"></canvas>
                        </div>
                    </div>
                </div>

                <!-- Chart 2-->
                <div class="col">
                    <div class="card ">
                        <div class="card-body">
                            <canvas id="alertChart" style="width:100%;max-width:600px"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Javascript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/site.js"></script>

    <script> // Change toggle icon on collapse/toggle
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelectorAll('[data-bs-toggle="collapse"]').forEach(trigger => {
                const targetSelector = trigger.dataset.bsTarget;
                const target = document.querySelector(targetSelector);
                const icon = trigger.querySelector('i.bi');

                if (!target || !icon) return; // Check if element exist

                const updateIcon = (isExpanded) => {
                    icon.classList.replace(
                        isExpanded ? 'bi-caret-right-fill' : 'bi-caret-down-fill',
                        isExpanded ? 'bi-caret-down-fill' : 'bi-caret-right-fill'
                    );
                };

                updateIcon(target.classList.contains('show'));
                target.addEventListener('show.bs.collapse', () => updateIcon(true));
                target.addEventListener('hide.bs.collapse', () => updateIcon(false));
            });
        });
    </script>

    <script th:inline="javascript">
        // Get the data from Thymeleaf model
        var alertData = /*[[${dayAlerts}]]*/[];

        // Calculate the day names for the last 7 days
        var today = new Date();
        var dayNames = [];
        for (var i = 6; i >= 0; i--) {
            var day = new Date(today);
            day.setDate(today.getDate() - i);
            dayNames.push(day.toLocaleDateString('en-US', { weekday: 'short' }));
        }

        var xValues = dayNames;
        var yValues = alertData;
        var purple = 'rgba(54, 87, 235, 0.47)';

        new Chart("alertChart", {
            type: "bar",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: purple,
                    data: yValues,
                    borderRadius: 5
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: { display: false },
                    title: {
                        display: true,
                        text: "Number of alerts per day",
                        font: { weight: 'bold' }
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                        },
                        ticks: {
                            stepSize: 1
                        }
                    }
                }
            }
        });

        var xTime = ["00:00", "04:00", "08:00", "12:00", "16:00", "20:00", "23:59"];
        var yData = /*[[${alertTimings}]]*/[];
        var red = 'rgba(220,53,69,255)';

        const ctx = document.getElementById('notificationChart').getContext('2d');
        const notificationChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: xTime,
                datasets: [{
                    data: yData,
                    borderColor: red,
                    fill: false,
                    tension: 0.3
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: { display: false },
                    title: {
                        display: true,
                        text: "Alert frequency by time of day",
                        font: { weight: 'bold' }
                    }
                },
            }
        });
    </script>

</body>

</html>