<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Logs</title>
</head>

<body>
    <!-- Sidebar -->
    <nav class="sidebar">
        <button class="btn toggle-btn nav-link nav-toggle-icon" onclick="toggleSidebar()">
            <i class="bi bi-chevron-left text-white"></i>
        </button>
        <div class="nav flex-column pt-5">
            <a href="index.html" class="nav-link">
                <i class="bi bi-grid fs-3 pe-2"></i>
                <span class="nav-text">Dashboard</span>
            </a>
            <a href="notification.html" class="nav-link">
                <i class="bi bi-bell fs-3 pe-2"></i>
                <span class="nav-text">Notification</span>
            </a>
            <a href="logs.html" class="nav-link active">
                <i class="bi bi-pencil fs-3 pe-2"></i>
                <span class="nav-text">Logs</span>
            </a>
            <a href="online-computers.html" class="nav-link">
                <i class="bi bi-pc-display fs-3 pe-2"></i>
                <span class="nav-text">Online computers</span>
            </a>
            <a href="settings.html" class="nav-link">
                <i class="bi bi-gear fs-3 pe-2"></i>
                <span class="nav-text">Settings</span>
            </a>
            <a href="login.html" class="nav-link sign-out">
                <i class="bi bi-box-arrow-left fs-3 pe-2"></i>
                <span class="nav-text">Logout</span>
            </a>
        </div>
    </nav>
    <!-- Main Content -->
    <div class="main-content p-4">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h1 class="py-3">Logs & Events</h1>
                </div>
                <div>
                    <select class="p-2 rounded" id="themeSelector">
                        <option value="light">Light</option>
                        <option value="dark">Dark</option>
                    </select>
                </div>
            </div>
            <!-- Filter and sorting option -->
            <div class="row py-3">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <div class="d-flex gap-2">
                            <button class="nav-button btn btn-outline-dark themeButton">Filter</button>
                            <div class="input-group form-inline">
                                <form class="form-inline">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-white border-end-0"><i class="bi bi-search"></i></span>
                                        </div>
                                        <input type="text" class="form-control border-start-0 test" placeholder="Search..." id="search">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label for="sortBySelector">Sort by</label>
                            <select class="ps-1 border-0 fw-bold" id="sortBySelector">
                                <option class="fw-normal" value="hostname">Hostname</option>
                                <option class="fw-normal" value="macAddress">MAC Address</option>
                                <option class="fw-normal" value="offlineSince">Offline Since</option>
                                <option class="fw-normal" value="restoredAt">Restored At</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- TODO: bubble row-->
            <div class="row">
                <hr>
                <div class="col pb-3">
                    <div class="d-inline-flex align-items-center border border-2 border-success rounded-pill">
                        <span class="ps-3 pe-2">Tracking: On</span>
                        <button type="button" class="btn-close btn-close-sm me-2 shadow-none"></button>
                    </div>
                </div>
                <hr>
            </div>
            <!-- Offline Events -->
            <h5 class="mb-3">Offline Events</h5>
            <!-- Dynamic Cards for Offline Events -->
            <div th:each="log : ${logs}">
                <div class="row pb-3">
                    <div id="offlineEvent">
                        <div class="card-header" th:classappend="${log.offlineSince != null} ? 'offline' : 'temp-offline'" data-bs-toggle="collapse" th:href="'#offline' + ${log.macAddress}">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <span class="fw-bold" th:text="${log.macAddress}"></span>
                                </div>
                                <div>
                                    <span class="badge me-2" th:classappend="${log.offlineSince != null} ? 'bg-danger' : 'bg-temp'" th:text="${log.offlineSince != null} ? 'Offline' : 'Temporary Offline'"></span>
                                    <span class="text-muted" th:text="${log.hostname}"></span>
                                </div>
                            </div>
                        </div>
                        <div th:id="'offline' + ${log.macAddress}" class="collapse">
                            <div class="card-body">
                                <div class="detail-item">
                                    <span class="detail-label">Name:</span>
                                    <span th:text="${log.hostname}"></span>
                                </div>
                                <div class="detail-item">
                                    <span class="detail-label">Offline Since:</span>
                                    <span th:text="${log.offlineSince}"></span>
                                </div>
                                <div class="detail-item">
                                    <span class="detail-label">Alert Sent:</span>
                                    <span class="badge bg-success" th:text="${log.alertSent} ? 'Yes' : 'No'"></span>
                                </div>
                                <div class="detail-item">
                                    <span class="detail-label">Restored At:</span>
                                    <span th:text="${log.restoredAt}"></span>
                                </div>
                                <div class="detail-item">
                                    <span class="detail-label">Notification Message:</span>
                                    <span th:text="${log.notificationMessage}"></span>
                                </div>
                                <div class="detail-item">
                                    <span class="detail-label">Notification Timestamp:</span>
                                    <span th:text="${log.notificationTimestamp}"></span>
                                </div>
                                <div class="detail-item">
                                    <span class="detail-label">Notification Recipient:</span>
                                    <span th:text="${log.notificationRecipient}"></span>
                                </div>
                                <div class="detail-item">
                                    <span class="detail-label">Notification Type:</span>
                                    <span th:text="${log.notificationType}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <div class="row pt-2">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <label class="table-gray" for="rowsSelector">Rows per page:</label>
                        <select class="ps-1 border-0 table-gray" id="rowsSelector">
                            <option value="5">5</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="table-gray pe-3">1-5 of 1</span>
                        <div class="d-flex gap-2">
                            <button class="nav-button btn btn-outline-dark themeButton"><i class="bi bi-caret-left-fill"></i></button>
                            <button class="nav-button btn btn-outline-dark themeButton"><i class="bi bi-caret-right-fill"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Javascript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/site.js"></script>
</body>

</html>