<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Logs</title>
    <style>
        .filter-button.active {
            background-color: #007bff;
            color: white;
        }
        .filter-button {
            background-color: #f8f9fa;
            color: #343a40;
        }
        .badge-temp {
            background-color: #ffc107;
            color: black;
        }
        .badge-notification {
            background-color: #007bff;
            color: white;
        }
    </style>
</head>

<body>
    <!-- Sidebar -->
    <nav class="sidebar">
        <button class="btn toggle-btn nav-link nav-toggle-icon" onclick="toggleSidebar()">
            <i class="bi bi-chevron-left text-white"></i>
        </button>
        <div class="nav flex-column pt-5">
            <a href="index.html" class="nav-link">
                <i class="bi bi-grid fs-3 pe-2"></i>
                <span class="nav-text">Dashboard</span>
            </a>
            <a href="notification.html" class="nav-link">
                <i class="bi bi-bell fs-3 pe-2"></i>
                <span class="nav-text">Notification</span>
            </a>
            <a href="logs.html" class="nav-link active">
                <i class="bi bi-pencil fs-3 pe-2"></i>
                <span class="nav-text">Logs</span>
            </a>
            <a href="online-computers.html" class="nav-link">
                <i class="bi bi-pc-display fs-3 pe-2"></i>
                <span class="nav-text">Online computers</span>
            </a>
            <a href="settings.html" class="nav-link">
                <i class="bi bi-gear fs-3 pe-2"></i>
                <span class="nav-text">Settings</span>
            </a>
            <a href="login.html" class="nav-link sign-out">
                <i class="bi bi-box-arrow-left fs-3 pe-2"></i>
                <span class="nav-text">Logout</span>
            </a>
        </div>
    </nav>
    <!-- Main Content -->
    <div class="main-content p-4">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h1 class="py-3">Logs & Events</h1>
                </div>
                <div>
                    <select class="p-2 rounded" id="themeSelector">
                        <option value="light">Light</option>
                        <option value="dark">Dark</option>
                    </select>
                </div>
            </div>
            <!-- Filter and sorting option -->
            <div class="row py-3">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <div class="d-flex gap-2">
                            <div class="input-group form-inline">
                                <form class="form-inline">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-white border-end-0"><i class="bi bi-search"></i></span>
                                        </div>
                                        <input type="text" class="form-control border-start-0 test" placeholder="Search..." id="search" oninput="filterLogs('search')">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label for="sortBySelector">Sort by</label>
                            <select class="ps-1 border-0 fw-bold" id="sortBySelector">
                                <option class="fw-normal" value="hostname">Hostname</option>
                                <option class="fw-normal" value="macAddress">MAC Address</option>
                                <option class="fw-normal" value="offlineSince">Offline Since</option>
                                <option class="fw-normal" value="restoredAt">Restored At</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Offline Events -->
            <!-- Dynamic Cards for Offline Events -->
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h5 id="eventsHeading">Offline Events</h5>
                <button class="btn btn-sm btn-outline-secondary" onclick="collapseAll()">Collapse All</button>
            </div>
            <div id="logsContainer">
                <div th:each="log, iterStat : ${logs}">
                    <div class="row pb-3 log-item" th:data-alert-sent="${log.alertSent}">
                        <div id="offlineEvent">
                            <div class="card-header" th:classappend="${log.alertSent} ? 'offline' : 'temp-offline'" 
                                 data-bs-toggle="collapse" th:href="'#offline' + ${iterStat.index}">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <span class="fw-bold" th:text="${log.macAddress}"></span>
                                        <span class="text-muted" th:text="${#strings.substring(log.offlineSince, 0, 19)}"></span>
                                    </div>
                                    <div>
                                        <span class="badge me-2 badge-notification" th:text="${log.notificationType}"></span>
                                        <span class="badge me-2" th:classappend="${log.alertSent} ? 'bg-danger' : 'badge-temp'" 
                                              th:text="${log.alertSent} ? 'Alert Sent' : 'Disconnected'"></span>
                                        <span class="text-muted" th:text="${log.hostname}"></span>
                                    </div>
                                </div>
                            </div>
                            <div th:id="'offline' + ${iterStat.index}" class="collapse">
                                <div class="card-body">
                                    <div class="detail-item">
                                        <span class="detail-label">Device Name:</span>
                                        <span th:text="${log.hostname}"></span>
                                    </div>
                                    <div class="detail-item" th:if="${log.building}">
                                        <span class="detail-label">Device Building:</span>
                                        <span th:text="${log.building}"></span>
                                    </div>
                                    <div class="detail-item" th:if="${log.room}">
                                        <span class="detail-label">Device Room:</span>
                                        <span th:text="${log.room}"></span>
                                    </div>
                                    <div class="detail-item">
                                        <span class="detail-label">Offline Since:</span>
                                        <span th:text="${#strings.substring(log.offlineSince, 0, 19)}"></span> 
                                    </div>
                                    <div class="detail-item">
                                        <span class="detail-label">Alert Sent:</span>
                                        <span class="badge" th:classappend="${log.alertSent} ? 'bg-success' : 'bg-danger'" th:text="${log.alertSent} ? 'Yes' : 'No'"></span>
                                    </div>
                                    <div class="detail-item">
                                        <span class="detail-label">Restored At:</span>
                                        <span th:text="${#strings.substring(log.restoredAt, 0, 19)}"></span>
                                    </div>
                                    <div class="detail-item" th:if="${log.alertSent}">
                                        <span class="detail-label">Notification Message:</span>
                                        <span th:text="${log.notificationMessage}"></span>
                                    </div>
                                    <div class="detail-item" th:if="${log.alertSent}">
                                        <span class="detail-label">Notification Timestamp:</span>
                                        <span th:text="${log.notificationTimestamp}"></span>
                                    </div>
                                    <div class="detail-item" th:if="${log.alertSent}">
                                        <span class="detail-label">Notification Recipient:</span>
                                        <span th:text="${log.notificationRecipient}"></span>
                                    </div>
                                    <div class="detail-item" th:if="${log.alertSent}">
                                        <span class="detail-label">Notification Type:</span>
                                        <span th:text="${log.notificationType}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <div class="row pt-2">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <label class="table-gray" for="rowsSelector">Rows per page:</label>
                        <select class="ps-1 border-0 table-gray" id="rowsSelector"
                            th:data-page="${page}" 
                            th:data-search="${search}" 
                            th:data-start-date="${startDate}" 
                            th:data-end-date="${endDate}"
                            onchange="updateRowsPerPage(this)">
                        <option th:selected="${rows == 5}" value="5">5</option>
                        <option th:selected="${rows == 10}" value="10">10</option>
                        <option th:selected="${rows == 20}" value="20">20</option>
                    </select>
                
                    
                    
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="table-gray pe-3" th:text="${page} + ' of ' + ${pages}"></span>
                        <div class="d-flex gap-2">
                            <a class="nav-button btn btn-outline-dark themeButton"
                            th:href="@{/logs(page=${page - 1}, rows=${rows}, search=${search}, startDate=${startDate}, endDate=${endDate})}"
                            th:classappend="${page} == 1 ? 'disabled' : ''">
                            <i class="bi bi-caret-left-fill"></i>
                         </a>
                         <a class="nav-button btn btn-outline-dark themeButton"
                            th:href="@{/logs(page=${page + 1}, rows=${rows}, search=${search}, startDate=${startDate}, endDate=${endDate})}"
                            th:classappend="${page} == ${pages} ? 'disabled' : ''">
                            <i class="bi bi-caret-right-fill"></i>
                         </a>
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Javascript-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/site.js"></script>
    <script>
        function collapseAll() {
            const collapsibleElements = document.querySelectorAll('.collapse');
            collapsibleElements.forEach(element => {
                element.classList.remove('show'); // Ensure all collapsible elements are collapsed
            });
        }

        function updateRowsPerPage(selector) {
            const baseUrl = '/logs'; 
            const page = selector.getAttribute('data-page') || 1; 
            const search = selector.getAttribute('data-search') || '';
            const startDate = selector.getAttribute('data-start-date') || '';
            const endDate = selector.getAttribute('data-end-date') || '';
            const rows = selector.value; 
            const url = `${baseUrl}?page=${page}&rows=${rows}&search=${search}&startDate=${startDate}&endDate=${endDate}`;
            window.location.href = url;
        }




    </script>
</body>

</html>